<h1>
  about Page
</h1>

{{! --############## Insert DATA ############-- }}
<div class="flow">
  <section class="insert">
    <h3>
      Insert Message
    </h3>
    <form action="/insert" method="post">
      <div class="input">
        <label for="fullname">
          Fullname
        </label>
        <input type="text" id="fullname" name="fullname" />
      </div>
      <div class="input">
        <label for="email">
          Email
        </label>
        <input type="email" id="email" name="email" />
      </div>
      <div class="input">
        <label for="message">
          Message
        </label>
        <input type="text" id="message" name="message" />
      </div>
      <button type="submit">
        INSERT
      </button>
    </form>
  </section>

  {{!############### GET DATA ############# }}
  <section class="get">
    <h3>
      Message Board
    </h3>
    <a href="/get-data">
      GET DATA
    </a>
    <div>
      {{#each items}}
        <article class="item">
          <div>
            Fullname: {{this.fullname}}
          </div>
          <div>
            Email: {{this.email}}
          </div>
          <div class="delete">
            Message: {{this.message}}
          </div>
          <div>
            Date: {{this.date}}
          </div>
          <div>
            ID: {{this._id}}
          </div>
        </article>
      {{/each}}
    </div>
  </section>

  {{!################## UPDATE DATA ####################}}

  <section class="update">
    <h3>
      Update Message
    </h3>
    <form action="/update" method="post">
      <div class="input">
        <label for="id">
          ID
        </label>
        <input type="text" id="id" name="id" />
      </div>
      <div class="input">
        <label for="fullname">
          Fullname
        </label>
        <input type="text" id="fullname" name="fullname" />
      </div>
      <div class="input">
        <label for="email">
          Email
        </label>
        <input type="email" id="email" name="email" />
      </div>
      <div class="input">
        <label for="message">
          Message
        </label>
        <input type="text" id="message" name="message" />
      </div>
      <button type="submit">
        UPDATE
      </button>
    </form>
  </section>

  {{! ############# DELETE DATA ############# }}

  <section class="delete">
    <h3>
      Delete Message
    </h3>
    <form action="/delete" method="post">
      <div class="input">
        <label for="id">
          ID
        </label>
        <input type="text" id="id" name="id" />
      </div>
      <button type="submit">
        DELETE
      </button>
    </form>
  </section>
</div>